@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: #000;
}

/* ---------- MAIN WRAPPER ---------- */
.main-wrapper {
  min-height: 100vh; /* stable across devices */
  width: 100%;
  background-image: url(../assets/images/background_image.png);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical center */
  align-items: center; /* horizontal center */
  padding: 50px;
  z-index: 2;
}

.main-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: -1;
}

/* ---------- HEADER ---------- */

.main-wrapper .header .logo img {
  width: 200px;
  height: auto;
  display: block;
  margin-bottom: 30px;
}

.main-wrapper .header .title h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  margin: 20px 0;
}

.main-wrapper .header .title p {
  color: #fff;
  background-color: transparent;
}
.main-wrapper .left-content h6 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin: 40px 0px 20px 0px;
}
.main-wrapper .left-content .social-icons {
  display: flex;
  align-items: center;
  gap: 25px;
}
.main-wrapper .left-content .social-icons {
  border-radius: 10px;
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  width: fit-content;
}
.main-wrapper .left-content .social-icons .item svg {
  color: #fff;
  font-size: 20px;
}

/* ---------- FORM CONTAINER ---------- */
.main-wrapper .form-content {
  width: 100%;
  max-width: 800px;
  min-height: 780px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.436);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.541);
  box-shadow: 0 8px 32px rgba(43, 19, 0, 0.082);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-wrapper .form-content .buttons {
  display: flex;
  justify-content: end;
  gap: 20px;
}
.main-wrapper .form-content form {
  width: 100%;
}

.main-wrapper .form-content h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.main-wrapper .form-content button {
  margin-top: 30px;
}

/* ---------- INPUTS ---------- */
label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
  color: #fff;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 10px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.518);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  color: #fff;
  outline: none;
}

input[type="date"] {
  accent-color: #fff !important;
}

textarea {
  border-radius: 15px;
  resize: none;
}

.date-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.date-wrapper input[type="date"] {
  padding-right: 35px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.date-wrapper input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}

.date-wrapper .calendar-icon {
  position: absolute;
  right: 10px;
  top: 45%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 18px;
  color: #fff;
}

/* ---------- SECTIONS ---------- */
.section {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* ---------- OPTIONS ---------- */
.options {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.options label {
  font-weight: normal;
  display: inline-block;
  margin-right: 15px;
  color: #fff;
}

/* ---------- BUTTON ---------- */
button {
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s ease;
  width: 200px;
}

button:hover {
  background-color: #b89974;
  color: #fff;
}

/* ---------- MULTISTEP FORM ---------- */
.step {
  display: none;
}

.step.active {
  display: block;
}

.main-wrapper .left-content .animation .image-1 {
  position: absolute;
  bottom: 100px;
  left: -150px;
  width: 500px;
  transform-origin: center center;
  animation: rotateMove 10s ease-in-out infinite;
  overflow: hidden;
}

.main-wrapper .left-content .animation .image-1 img {
  width: 300px;
  filter: blur(1px);
  opacity: 0.5;
    overflow: hidden;
}

@keyframes rotateMove {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(100px);
  }
  75% {
    transform:translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}


.counter-container {
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.541);
  box-shadow: 0 8px 32px rgba(43, 19, 0, 0.082);
  overflow: hidden;
  width: 550px;
  margin-top: 20px;
}

.counter-item {
  flex: 1;
  padding: 20px 0;
  text-align: center;
  position: relative;
}

.counter-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 25%;
  bottom: 25%;
  right: 0;
  width: 2px;
  background: #fff;
}

.counter-item .number {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
}

.counter-item .plus {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  margin-left: 5px;
  vertical-align: top;
}

.counter-item small {
  display: block;
  margin-top: 0px;
  font-size: 14px;
  color: #fff;
}


@media screen and (min-width: 700px) and (max-width: 1550px) {
  .main-wrapper .header .title h1 {
    font-size: 45px;
  }
  .main-wrapper .left-content .animation .image-1{
    left: -180px;
  }
}
@media screen and (min-width: 200px) and (max-width: 699px) {
  .counter-container{
    margin-top: 30px;
  }
  .mob-d-none{
    display: none;
  }
  .counter-container{
    display: none;
  }
  .main-wrapper {
    padding: 20px 10px;
  }
  .main-wrapper .left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .main-wrapper .left-content .logo {
    display: flex;
    justify-content: center;
  }
  .main-wrapper .left-content .animation {
    display: none;
  }
  .main-wrapper .header .logo img {
    width: 130px;
  }
  .main-wrapper .header .title h1 {
    font-size: 25px;
  }
  .main-wrapper .header .title p {
    font-size: 12px;
  }
  .main-wrapper .left-content h6 {
    margin: 20px 0px 12px 0px;
  }
  .main-wrapper .left-content .social-icons {
    margin: auto;
  }
  .main-wrapper .left-content .social-icons .item svg {
    font-size: 16px;
  }
  .main-wrapper .left-content .social-icons {
    padding: 10px 15px;
  }
  .main-wrapper .left-content h6 {
    font-size: 18px;
  }
  .main-wrapper .form-content {
    padding: 15px;
  }
  .main-wrapper .form-content h3 {
    font-size: 20px;
  }
  label {
    font-size: 14px;
  }
  .main-wrapper .form-content {
    min-height: 100%;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  textarea {
    width: 100%;
    padding: 10px 14px;
    margin-bottom: 10px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    color: #fff;
    outline: none;
  }
  button {
    padding: 6px 16px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
    width: 120px;
  }
  .main-wrapper .form-content .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
